@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;

  background-image: linear-gradient(90deg, #7d5fff, #7158e2);

  font-family: 'Roboto', sans-serif;
}

.search {
  height: 50px;
  position: relative;
}

.search .input {
  padding: 15px;
  height: 50px;
  width: 50px;

  background-color: #ffffff;
  border: 0;

  font-size: 18px;

  transition: width .3s ease;
}

.btn {
  height: 50px;
  width: 50px;

  background-color: #ffffff;
  border: 0;

  font-size: 24px;
  cursor: pointer;

  transition: transform .3s ease;

  position: absolute;
  top: 0;
  left: 0;
}

.btn:focus, .input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
}

.search.active .btn {
  transform: translateX(198px);
}
